@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.App {
  background-color: #63607d;
  padding: 7vw 0;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

.Gengar {
  position: absolute;
  opacity: 0.6;
  bottom: 10px;
  left: 10px;
  width: 120px;
}

.Puntos {
  position: absolute;
  right: 0;
  top: 0;
  width: 350px;
}

.Micro {
  position: absolute;
  width: 120px;
  right: 50px;
  bottom: 50px;
}
/*?==============
/*?     PAPEL 
/*?==============*/ 
.Papel_container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: calc(90%);
  font-family: "Nunito", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.Papel_solt {
  height: 305px; 
  min-width: 610px;
  z-index: 99;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr; /* Una sola columna que ocupa todo el ancho */
  grid-template-rows: auto 1fr; /* Primera fila ajustada al contenido, segunda ocupa el resto */  border-radius: 15px;
  background-color: #494949;
  padding: 20px;
  box-shadow: 0 0 10px black;
}

.Papel_solt h2 {
  padding: 10px 0;
  text-align: center;
  font-size: 45px;
  color: #c2c2c2;
  text-decoration: underline;
}

.solutions_container {
  display: flex; 
  flex-direction: column; 
  justify-content: center; /* Centra verticalmente los elementos dentro del contenedor */
  gap: 10px; 
  height: 100%; 
}
.incorrecta, .correcta {
  font-size: 25px;
}
.incorrecta p{color: #f06f79;}
.correcta p{color: #96cf8f;}

.Papel::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 30px, /*? Altura de la línea de separación */
    rgba(140, 82, 255, 0.15) 30px, /*? Color de la línea morada con opacidad */
    rgba(140, 82, 255, 0.15) 32px /*? Espaciado entre las líneas */
  );
}

.Papel {
  border-radius: 15px;
  height: 305px; 
  min-width: 610px; /*? Ancho mínimo para el contenedor */
  background-color: white;
  position: relative;
  display: inline-block; 
  margin: 1vw auto; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.Papel h1{
  padding: 0 50px;
  font-size: 70px;
  font-weight: 700;
  margin: 0;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.contador {
  position: absolute;
  left: 0px;
  top: 0px;
  color: darkgray;
  border-radius: 50%;
  padding-left: 20px;
  font-size: 25px;
}


/*?==============
/*?  RESPUESTA 
/*?==============*/ 
.Respuesta {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  padding: 10px 20px ;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 850px;
}

#Atomo_img {
  width: 60px;
}

#Continuar_img {
  width: 80px;
}

.Respuesta input::placeholder {
  font-family: "Nunito", sans-serif;
  text-align: left;
  font-weight:300;
}

.Respuesta input {
  margin: 0 10px;
  font-family: "Nunito", sans-serif;
  text-align: left;
  caret-color: rgb(34, 0, 128); /*? Cambia el color del caret */

  font-size: 45px;
  background-color: #c3beed;

  width: 650px;
  border: none;
}

.Respuesta input:focus {
  outline: none; 
}

/*?==============
/*?  ENTER ICONO 
/*?==============*/ 
#Enter_logo {
  width: 200px;
}

/* Moviles*/
@media screen and (max-width: 760px) {
  .Papel {
    min-width: 450px;
    height: 225px;
    margin-bottom: 70px;
  }
  .Papel h1 {font-size: 50px;}

  .Respuesta {
    max-width: 600px;
  }
  .Respuesta input {
    font-size: 40px;
    width: 430px;
  }

  #Atomo_img {width: 55px;}
  
  #Continuar_img {width: 70px;}
}

/* Para pantallas menores */
@media screen and (min-width: 761px) and (max-width: 1200px) {
  .Papel {
    min-width: 500px;
    height: 255px;
    margin-bottom: 70px;
  }

  .Papel h1 {font-size: 60px;}

  .Respuesta {max-width: 700px;}
  .Respuesta input {
    font-size: 40px;
    width: 600px;
  }
}